@media (min-width: 1820px) {
    .main {
        &__content {
            max-width: 650px;
        }
    }
    .text {
        font-size: 24px;
    }
    .subtitle {
        font-size: 28px;
    }
    .btn_join {
        height: 70px;
    }
    .btn_login {
        width: 120px;
    }
    .form__input {
        max-height: 50px;
        font-size: 20px;
    }
}

@media (max-width: 1440px) {
    .header {
        flex-direction: row-reverse;
        .btn_login {
            display: none;
        }
    }
    .main {
        flex-direction: column;
        &__left, &__right {
            width: 100%;
            padding: 50px;
        }
        &__left {
            position: relative;
        }
    }
    .circle_main {
        left: auto;
        bottom: auto;
        top: 278px;
        right: 67px
    }
    .leaf_main {
        left: auto;
        top: auto;
        right: 384px;
        bottom: 70px;
    }
    .leaf-s_main {
        left: auto;
        bottom: auto;
        top: 120px;
        right: 323px;
    }
}

@media (max-width: 1024px) {
    .main__content {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 70px;
        line-height: 70px;
    }
    *::hover {
        display: none;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 60px;
        line-height: 60px;
    }
    .subtitle {
        font-size: 22px;
    }
    .text {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .main {
        &__left {
            padding: 30px;
        }
        &__right {
            padding: 30px;
        }
        &__content {
            gap: 25px;
        }
    }
    .title {
        font-size: 36px;
        line-height: 36px;
    }
    .text {
        font-size: 16px;
    }
    .btn, .subtitle {
        font-size: 18px;
        height: 50px;
        width: 100%;
    }
    .qa {
        margin: 0;
        &__block {
            padding: 20px 20px;
            .subtitle {
                height: auto;
            }
        }
    }
}